<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ark.monitor.bug.repoter.error.mapper.ErrorMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ark.monitor.bug.repoter.error.entity.ErrorMsg">
    <result column="id" property="id" />
    <result column="created_at" property="createdAt" />
        <result column="project_name" property="projectName" />
        <result column="msg" property="msg" />
        <result column="status" property="status" />
        <result column="error_time" property="errorTime" />
        <result column="env" property="env" />
        <result column="ip" property="ip" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created_at,
        project_name, msg, status, error_time,env,ip
    </sql>

    <select id="errorList" parameterType="java.util.Map" resultType="java.util.Map">
        select left(msg,200) errorMsg,count(1) count
        from t_error_msg
        where project_name = #{map.projectName,jdbcType=VARCHAR}
        and created_at &gt;= #{map.startTime,jdbcType=TIMESTAMP}
        and created_at &lt; #{map.endTime,jdbcType=TIMESTAMP}
        and env ='pro'
        group by errorMsg
        order by 2 desc
        limit 10
    </select>

    <select id="errorDtos" resultType="com.ark.monitor.bug.repoter.error.dto.ErrorDto">
        select t1.id, t1.msg, t2.id des_id
        from t_error_msg t1
                 inner join t_error_des t2
                            on t1.id = t2.error_id
        where t2.error_type = 4
          and t2.status != 1
    </select>
</mapper>
